{% extends "base.html" %}

{% block content %}
<div class="management-page">
	<!-- Management Info Section -->
    <div class="management-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% for result in mgmt_results %}
                	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h2>{{ result[1] }}</h2>
                		<address>
							{{ result[2] }}<br>
							{{ result[3] }}<br>
                            {{ result[4] }}
						</address>
						<form class="form-horizontal" role="form" action=" ">
							<div class="form-group">
								<div class="col-lg-4">
                                    <label class="control-label">Management Rating</label>
                                    <a href="#" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Calculated by averaging the management ratings from all properties for this manager.">
                                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                    </a>
                                </div>
								<div class="col-lg-6">
                                {% if result[5] > 4 %}
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                {% elif result[5] > 3 %}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                {% elif result[5] > 2 %}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                {% elif result[5] > 1 %}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                {% elif result[5] > 0 %}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                {% endif %}
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-4">
                                    <label class="control-label">Property Rating</label>
                                    <a href="#" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Calculated by averaging the property ratings from all properties for this manager.">
                                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                    </a>
                                </div>
								<div class="col-lg-6">
                                {% if result[6] > 4 %}
									<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                {% elif result[6] > 3 %}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                {% elif result[6] > 2 %}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
									<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                {% elif result[6] > 1 %}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                {% elif result[6] > 0 %}
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                {% else %}
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                {% endif %}
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-4">
                                    <label class="control-label">Would Recommend</label>
                                    <a href="#" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Calculated by averaging the recommend ratings from all properties for this manager.">
                                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                    </a>
                                </div>
								<div class="col-lg-6">
									<p>{{ result[7] }}%</p>
								</div>
							</div>
                            <a class="btn btn-default" href="/mgmtReview/{{ result[0] }}">Add Review</a>
						</form>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        {% if result[8] %}
						<img src="{{ url_for('static', filename='{{ result[8] }}') }}" alt="...">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/management-icon.png') }}" alt="...">
                        {% endif %}
					</div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>

    <!-- Management Properties Section -->
    <hr>
    <div class="management-properties">
        <div class="container" id="search">
            <div class="row">
                <div class="col-lg-6">
                    {% for result in mgmt_results %}
                	<h3>Properties ({{ result [9] }})</h3>
                    {% endfor %}
                </div>
     			<div class="col-lg-6">
            		<!--<div class="input-group">-->
            			<!--<input type="text" class="form-control" placeholder="Search properties">-->
            			<!--<span class="input-group-btn">-->
            				<!--<button type="button" class="btn btn-default">-->
								<!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->
							<!--</button>-->
            			<!--</span>-->
            		<!--</div>-->
            	</div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% if prop_results %}
                        {% for result in prop_results %}
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                                <a href="/property/{{ result[0] }}">
                                    {% if result[4] %}
                                    <img src="{{ url_for('static', filename='{{ result[4] }}') }}" alt="...">
                                    {% elif result[8] == 1 %}
                                    <img src="{{ url_for('static', filename='images/house-icon.png') }}" alt="...">
                                    {% elif result[8] == 2 %}
                                    <img src="{{ url_for('static', filename='images/apartment-icon.png') }}" alt="...">
                                    {% elif result[8] == 3 %}
                                    <img src="{{ url_for('static', filename='images/studio-icon.png') }}" alt="...">
                                    {% elif result[8] == 4 %}
                                    <img src="{{ url_for('static', filename='images/townhouse-icon.png') }}" alt="...">
                                    {% else %}
                                    <img src="{{ url_for('static', filename='images/hooteyes.png') }}" alt="...">
                                    {% endif %}
                                </a>
                                <div class="caption">
                                    {% if result[1] %}
                                        {% if result[3] > 4 %}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <h4 id="review-count">({{ result[7] }})</h4>
                                        {% elif result[3] > 3 %}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <h4 id="review-count">({{ result[7] }})</h4>
                                        {% elif result[3] > 2 %}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <h4 id="review-count">({{ result[7] }})</h4>
                                        {% elif result[3] > 1 %}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <h4 id="review-count">({{ result[7] }})</h4>
                                        {% elif result[3] > 0 %}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <h4 id="review-count">({{ result[7] }})</h4>
                                        {% else %}
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <h4 id="review-count">({{ result[7] }})</h4>
                                        {% endif %}
                                    <h3>{{ result[1] }}</h3>
                                    <h4>{{ result[2] }}</h4>
                                    {% else %}
                                        {% if result[3] > 4 %}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <h4 id="review-count">({{ result[7] }})</h4>
                                        {% elif result[3] > 3 %}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <h4 id="review-count">({{ result[7] }})</h4>
                                        {% elif result[3] > 2 %}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <h4 id="review-count">({{ result[7] }})</h4>
                                        {% elif result[3] > 1 %}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <h4 id="review-count">({{ result[7] }})</h4>
                                        {% elif result[3] > 0 %}
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <h4 id="review-count">({{ result[7] }})</h4>
                                        {% else %}
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                            <h4 id="review-count">({{ result[7] }})</h4>
                                        {% endif %}
                                    <h3>{{ result[2] }}</h3>
                                    {% endif %}
                                    <h4>{{ result[9] }} Beds, {{ result[10] }} Baths</h4>
                                    <h4><a id="mgmt-link" href="/management/{{ result[5] }}">{{ result[6] }}</a></h4>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                    <h5>There are currently no properties for this management company.</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}